/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17 Nov 2020, 16:51:05
    Author     : rossmcauliffe
*/
body {
  padding: 0;
  margin: 0;
  background: #f2f6e9;
}
/*--- navigation bar ---*/
.navbar {
  background:#333333;
  min-height:70px;
  font-size: 20px;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
  padding: 0 15px;
  height: 70px;
  line-height: 70px;
  font-size:20px;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #000;
}
.navbar-collapse {
  justify-content: flex-end;
}
